
@{
    Layout = null;
}

<h3> KATEGORİLER</h3>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Film</td>
        <td>assdfgggghgh</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Kitap</td>
        <td>assdfggggffhgh</td>
        <td>True</td>
    </tr>
</table>
